.App {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.App .column {
  width: 30%;
}
.droppable-col {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  width: 100%;
  height: auto;
  border-radius: 7px;
  background-color: gray;
}
.item {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: gray;
  color: white;
}
